@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora&display=swap');
Font {
    --heading-font: "Berkshire Swash";
    --paragraph-font: Lora, Helvetica, sans-serif;
    }
    
    #background{
        height: 725px  ;
        background-color:#fffbff;
        grid-column: 1/11;
        grid-row: 4/9;
    } 
    #content{
        margin: 0 auto;
        max-width: 100%;
       
    }
    #maintitle{
        background-color:#ff6D18;
        font-family:  "Berkshire Swash", "Franklin Gothic Medium",  "sans-serif";;
        height: 100px;
        display: grid;
        grid-template-columns: 150px auto;
    }
    
    #home-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
      }
      
    body {
        background-color: #fffbff; 
        font-family: "Lora", "Helvetica", "sans-serif";
        font-size: 22px;
        margin: 0;
        padding: 0;
       
    }
    head {
        background-color:#ff6D18;
        font-family:  "Berkshire Swash", "Franklin Gothic Medium",  "sans-serif";;
        height: 100px;
        display: grid;
        grid-template-columns: 150px auto;
    }
    
    nav {
        background-color: #ff6D18;
        height: 75px;
        display: flex;
        justify-content: space-around;
        
    }
    nav a:hover {
        background-color: #1789fc;
        height: 40px;
        border-radius: 5px;
    }
    nav a{
       
        color: #fffbff; 
        text-decoration: none;
        padding: 5px;
        margin: 20px;
    }

    h1, h2, h4, h3{
        text-align: center;
        color: #0A122A;
        margin: 10px;
    }
    

    .logo_link  { 
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }
    .logo{
        width: 100%;
        text-align: left;
        padding-top: 20px;
        margin: 10px;
    }

    .img {
        border: 10px solid #1789fc;
        transition: transform .5s;
        box-shadow: 5px 5px 10px;
        width: 400px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
 
    }

    footer {
        background-color: #ff6D18;
        padding: 25px 50px;
        margin-top: 200px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    

    footer a{
        background-color: #ff6D18;
        color: #fffbff; 
        text-decoration: none;
        padding-top: 15px;
    }
    footer a:hover{
        background-color: #ff6D18;
        color: #1789fc;
    }

    footer p a:hover {
        font-size: 1.5em;
        text-decoration: underline;
    }
    
    /* CSS FOR THE WEB COMPONENNT */
    * {
        box-sizing: border-box;
      }
      
      /* Position the image container (needed to position the left and right arrows) */
      .container {
        position: relative;
        width: 100%;
        padding-top: 5px;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      
      /* Add a pointer when hovering over the thumbnail images */
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* Container for image text */
      .caption-container {
        text-align: center;
        background-color: #ff6D18;
        padding: 2px 16px;
        color: #0A122A;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Six columns side by side */
      .column {
        float: left;
        width: 16.66%;
      }
      
      /* Add a transparency effect for thumnbail images */
      .demo {
        opacity: 0.6;
        
      }
 
      
      .active,
      .demo:hover {
        opacity: 1;
      }

      .img2 {
        border: 10px solid #1789fc;
        transition: transform .5s;
        box-shadow: 5px 5px 10px;
        width: 100%;
        height: 500px;
 
        display: block;
      }
    
    
    @media screen and (max-width: 900px) {
        #hero, .home-grid {
            display: block;
            height: auto;
        }
        nav, footer {
            flex-direction: column;
        }
        nav a {
            display: block;
            padding: 15px;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        .home-title {
            font-size: 25px;
            color: #6f7364;
        }
        .rivers-card, .camping-card, .rapids-card { 
            margin: 50px auto;
            width: 60%;
        }
        #background {
            display: none;
        }
        .mountains, .msg {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        footer {
            margin-top: 25px;
        }
    }